fastapi==0.121.0
uvicorn[standard]==0.27.1

pandas==2.1.4
numpy==1.26.4

scikit-learn==1.3.2
joblib==1.3.2

yfinance==0.2.36
lxml==4.9.3
feedparser==6.0.11

vaderSentiment==3.3.2

ta==0.10.2

transformers==4.37.2
tokenizers==0.15.2

# CPU-only PyTorch version (safe for servers)
torch==2.2.0

# optional
python-dotenv==1.0.1
beautifulsoup4==4.12.3
